<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>On The Map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F1F634911C0F019D00A7E67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1F634A51C0F019D00A7E67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F1F634B01C0F019D00A7E67C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
